.parent {
    width: 100%;
    float:left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav.navbar-inverse.navbar {
	display: none;
}
.ng-scope.breadcrumbs-container.c9283b2c15b3212000d7ec7ad31f91a4a {
	display:none;
}
